.App {
    width: 55%;
    margin: 0 auto;
    position: relative;
}

.FixedTop {
    position: fixed;
    top: 0;
    width: 55%;
}

.FixedBottom {
    position: fixed;
    bottom: 0;
    width: 55%;
}