:root {
    --black: rgba(40, 39, 40);
    --grey: rgba(40, 39, 40, 0.30);
    --light-grey: rgba(197, 197, 197, 0.65);
    --white: rgb(255, 255, 255);
    --blue: rgb(91, 131, 204);
}

body {
    margin: 0;
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.4rem;
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
